*{
    box-sizing: border-box;
}
.title{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}
.container{
    margin-bottom: 20px;
    
   
    
}
/* .container a{
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    
} */
.container img{
    width: 300px;
    height: auto;
}
