.footer{
    margin-top: 187px;
    padding: 0 10px 20px;   
}
.map{
    margin-top: 47px; 
}

.footer_container{
    display: flex;
    justify-content: space-between;
}

.address_title {
    margin-bottom: 25px;
}
.address,
.address_title,
.contact {
    font-size: 20px;
    @media (min-width: 920px) {
        font-size: 45px;
    } 
    color: black;
}
.contact{
    font-weight: 700;
    margin-bottom: 25px;
}
.telefon {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    @media (min-width: 920px) {
        font-size: 50px;
    }
    @media (min-width: 1240px) {
        font-size: 70px;
    }
    color: #000000;
    text-decoration: none;   
}
.soc_netz {
    display: flex;
    align-items: flex-end;
    margin-top: 32px;

    .link + .link {
        margin-left: 50px;
    }
}

.link {
    text-decoration: none;
}
.icon_instagram {
    display: block;
    height: 44px;
    width: 44px;
    background: url(./Media/Vector_instagram.svg);
    margin: 0 auto;
}
.icon_title {
    display: block;
    margin-top: 11px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #000000;
    text-decoration: none;
}
.icon_whatsapp {
    display: block;
    height: 46px;
    width: 45px;
    background: url(./Media/Vector_whatsapp.svg);
    margin: 0 auto;
}

.working_time{
    margin-top: 20px;
    font-weight: 500px;
    font-size: 18px;
}
.working_hours{
    font-size: 24px;
    font-weight: 600px; 
    margin-bottom: 65px;
    margin-top: 2px;     
}